body{
    font-family: "Microsoft JhengHei","Roboto", sans-serif;
    background-color:rgba(135, 206, 250, 0.25);
    max-width: 1080px;
    margin: 0 auto !important; /* find a way to not use important */
}
.h1{
    text-align:center;
}
.header{
    display:block;
    justify-content: center;
    border-style:dotted;
    text-align:center;
    font-weight:bold;
    font-size:large;
    margin:10px;
}
.inline-block{
    display:inline-block;
    inline-size: 45%;
    min-width: 300px;
}
.sameline{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.response{
    line-height: 1.6em;
    margin: 1em;
}