body{
    font-family: "Roboto", sans-serif;
    background-color:rgba(135, 206, 250, 0.25);
}
.h1{
    text-align:center;
}
.header{
    display:block;
    justify-content: center;
    border-style:dotted;
    text-align:center;
    margin:10px;
}
.inline-block{
    display:inline-block;
    inline-size: 45%;
    min-width: 300px;
}
.sameline{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
